/* asset/style.css */

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    color: #333;
}

p {
    margin-bottom: 20px;
    color: #777;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}

.table1 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table1 th, .table1 td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table1 th {
    background-color: #f4f4f4;
}

.table1 tr:hover {
    background-color: #f1f1f1;
}

.table1 img {
    border-radius: 5px;
}
